
<h1>Edit Reservation for <%= @reservation.client_first_name %> </h1>

<div class= "form">
<%= form_for @reservation, url: {action: "update"} do |f| %>
 	<div class="row">
	 	<%= label_tag(:exam_id, "Course:") %>
		<%= f.collection_select :exam_id, Exam.all, :id, :name %> 
	  <%= label_tag(:client_first_name, "First Name:") %>
	  <%= f.text_field :client_first_name,  :placeholder => "Your First Name" %>
	  <%= label_tag(:client_last_name, "Last Name:") %>
	  <%= f.text_field :client_last_name,  :placeholder => "Your Last Name" %>
  </div>
  <div class= "row">
	  <%= label_tag(:datetime, "Date:") %>
	  <%= f.datetime_select :datetime  %>
  </div>
  <div class="row">
  <%= label_tag(:score, "Score:") %>
  <%= f.text_field :score, :placeholder => "Score" %>
  </div>
  <%= f.submit "Save" %>
<% end %>
</div>