<div class='reservations'>
	<h4>Customer: <%= @reservation.exam.client %></h4>
	<h4>Exam: <%= @reservation.exam.name %></h4>
	<div>Student: <%= @reservation.client_first_name %> <%= @reservation.client_last_name %></div>
	<div>Exam Date: <%= Time.at @reservation.datetime %></div>
	<button>Save</button>
</div>
